html, body {
  margin: 20px;
  background-image: url("http://wallpaperscraft.com/image/mountain_snowboard_top_fog_conquest_11541_1920x1200.jpg");
  background-attachment: fixed;
  background-size: cover;
}
