html, body {
  margin: 20px;
  background-image: url("http://wallpaperscraft.com/image/11541/1920x1200.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
   background: rgba(50, 50, 50, 0.5);
   height: 200px;
}
