<h4 class="create-new-user">Create New User</h4>

<p>Name:&nbsp;{{input value=name class='user-name'}}</p>

<p>Description:&nbsp;{{input value=description class='user-description'}}</p>

<p><button type='submit' {{action 'create'}} class='commit-user-creation'>Submit</button></p>
