<h4>Edit</h4>

<p>Name:&nbsp;{{input value=name class='user-name'}}</p>

<p>Description:&nbsp;{{input value=description class='user-description'}}</p>

<p><button type='submit' {{action 'submit'}} class='commit-user-change'>Submit</button></p>
