<h4 class="create-new-group">Create New Group</h4>

<p>Name:&nbsp;{{input value=name class='group-name'}}</p>

<p>Description:&nbsp;{{input value=description class='group-description'}}</p>

<p><button type='submit' {{action 'create'}} class='commit-group-creation'>Submit</button></p>
