<h4>Edit</h4>

<p>Name:&nbsp;{{input value=name class='group-name'}}</p>

<p>Description:&nbsp;{{input value=description class='group-description'}}</p>

<p><button type='submit' {{action 'submit'}} class='commit-group-change'>Submit</button></p>
