<div class="jumbotron">
  <h1>Groups</h1>
</div>

<table>
  <thead>
    <th>Name</th><th>Trips Taken</th>
  </thead>
  
  <tbody>
    <p>{{#link-to 'groups.create' class="create-group"}}Create{{/link-to}}</p>

    {{#each}}
      <tr>
        <td>
          {{~#link-to 'groups.show' this}}
          {{name}}{{~/link-to}}</td><td>{{trips.length}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
