<h4>Edit</h4>

<p>Name:&nbsp;{{input value=name class='trip-name'}}</p>

<p>Description:&nbsp;{{input value=description class='trip-description'}}</p>

<p><button type='submit' {{action 'submit'}} class='commit-trip-change'>Submit</button></p>
