<div id="welcome" class="jumbotron">
  {{#link-to "trips.create" class="center-block btn btn-success"}}Plan a trip!{{/link-to}}
  <h3>Welcome to Snowcial</h3>
  <p>Snocial is a sowcial platform for the snowsports community. Snowcial provides a fast and easy way to create and share your winter adventures with your friends and the community at large.</p>
  {{#link-to 'trips.create' class="center-block create-trip btn btn-success"}}Plan a trip!{{/link-to}}
</div>

<div id="trip-feed" class="trip-feed-box">

</div>

<div id="demo" class="demo-box">

</div>
