<div id="welcome" class="welcome-box">
  {{#link-to 'trips.create' class='create-trip btn btn-success'}}Plan a trip!{{/link-to}}
</div>

<div id="trip-feed" class="trip-feed-box">

</div>

<div id="demo" class="demo-box">

</div>
